.rec.rec-carousel-item {
    padding: 10px o !important ;
}
.rec-rec-swipable {
    padding-top: 50px;
    padding-bottom: 50px;
}
.rec.rec-arrow {
    box-shadow: 0 0 1px 1px black;
    color: black;
    background-color: white;
    border-radius: 50;
    margin: 10px;
}
.rec.rec-arrow:disabled {
    box-shadow: 0 0 1px 1px gray;
    color: black;
    background-color: white;
    border-radius: 50;
    margin: 10px;
}
.rec.rec-arrow:disabled:hover {
    background-color: rgba(128, 128, 128, 0.507) !important;
    color: white;
}
.rec.rec-arrow:hover,
.rec.rec-arrow:active,
.rec.rec-arrow:focus {
    background-color: rgba(128, 128, 128, 0.507) !important;
}

button.rec-dot {
    display: none;
}
